*{
  user-select: none;
}
h1{
  font-size: 2.4em;
}
h2{
  font-size: 1.6em;
}

.input{
  width: 45em;
  padding: 0.2em;
  font-size: 1.5rem;
}
.left{
  float: left;
  text-align: left;
  padding: 0.5em 1.5em 0.5em 1.5em;
  border-right: 5px solid white;
}

.right{
  float: right;
  text-align: right;
  padding: 0.5em 1.5em 0.5em 1em;
  color: white;
}

.head-wrapper{
  width: 50%;
  height: 20%;
  margin-bottom: 1em;
}
.Homepage-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Homepage-body {
  padding: 5% 0 0 1.5%;
}
.Homepage-body h1{
  text-align: center;
}
