.product-name{
  text-align: center;
  padding: 3vh 0 0 0;
  color: white;
}

.float-reviews{
  float: right
}

.float-search{
  float: left;
}

.itemReviews{
  margin: 1em 4em 1em 2em;
  height: 100vh;
}

.itemComparison{
  padding: 1em 1em 5em 4em;
}

.itemComparison .ui a:hover{
  background-color: orange !important;
}

.content-wrapper{
  background-color: #282c34;
  padding: 1em 0 0 0;
}
.ProductList-title {
  background-color: #282c34;
  min-height: 10vh;
  font-size: 20px;
  text-align: center;
  padding: 1.5em 0 0.5em 0;
}
