.product-name{
  text-align: center;
  padding: 3vh 0 0 0;
  color: white;
}

.float-reviews{
  float: right
}

.float-search{
  float: left;
}

.itemReviews{
  margin: 5vh 4vh 10vh 0;
}

.itemComparison{
  margin: 0 5vh;
}

.itemComparison .ui a:hover{
  background-color: cornFlowerBlue !important;
}

.content-wrapper{
  background-color: #282c34;
  padding: 1vh 0 0 0;
}
.ProductList-title {
  background-color: #282c34;
  min-height: 10vh;
  text-align: center;
  padding: 1.5em 0 0.5em 0;
}
