.ProductList-title {
  background-color: #282c34;
  min-height: 10vh;
  text-align: center;
  padding: 1em 0 0.5em 0;
}
.ProductList-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ProductList-body {
  padding: 1% 0 0 1.5%;
}
